<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    SecureVue
  </h1>
</div>

<nav class="nav nav-pills flex-column flex-sm-row">
  <ul class="nav nav-pills mb-3">
    <li class="nav-item"><a class="flex-sm-fill text-sm-center nav-link" routerLink="home">Home</a></li>
    <li class="nav-item"><a class="flex-sm-fill text-sm-center nav-link" routerLink="products">Products</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
<app-messages></app-messages>